header {
    height: 80px;
    background-color: cyan;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 60px;
        color: pink;
    }
    nav {
        width: 500px;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                font-size: 24px;
                color: coral;
            }
        }
    }
}
